<div class="card" style="padding-bottom: 25px;">
  <div class="card-block">
    <div>
	  <div id="stage1" class="build-wrap" style="padding: 30px;"></div>
	</div>
	<div class="" style="padding-left: 30px;">
		<button class="btn btn-danger btn-sm" id="trash" (click)="clearData()">Trash all fields</button>
		<button class="btn btn-inverse btn-sm" id="show-data" (click)="showData()">Show Data</button>
		<button class="btn btn-success btn-sm" id="save-data" (click)="saveData()">Save Data</button>
		<!-- <button class="btn btn-success btn-sm" *ngIf="edit" id="update-data" (click)="updateData()">Update Data</button> -->
	</div>
  </div>
</div>
	
